<h1>Ejemplos Webpay</h1>

<table border="0" style="width:70%">
  <tr>
    <td><h3>Transacci&oacute;n Normal</h3></td>
    <td><h3><a href="/pages/tbknormal">Webpay Normal</a></h3></td>
    <td><h3><a href="/pages/tbknullifynormal">Webpay Normal Anulaci&oacute;n </a></h3></td>
  </tr>
  <tr>
    <td><h3>Transacci&oacute;n Mall Normal</h3></td>
    <td><h3><a href="/pages/tbkmallnormal">Webpay Mall Normal</a></h3></td>
    <td><h3><a href="/pages/tbknullifymallnormal">Webpay Mall Normal Anulaci&oacute;n </a></h3></td>
  </tr>
  <tr>
    <td><h3>Transacci&oacute;n Completa</h3></td>
    <td><h3><a href="/pages/tbkcomplete">Webpay Completa</a></h3></td>
    <td><h3><a href="/pages/tbknullifycomplete">Webpay Completa Anulaci&oacute;n </a></h3></td>
  </tr>
  <tr>
    <td><h3>Transacci&oacute;n Captura Diferida</h3></td>
    <td><h3><a href="/pages/tbknormalcapture">Webpay Normal Captura Diferida</a></h3></td>
    <td><h3><a href="/pages/tbkcapture">Webpay Captura Diferida</a></h3></td>
  </tr>
  <tr>
    <td><h3>Transacci&oacute;n OneClick</h3></td>
    <td><h3><a href="/pages/tbkoneclick">Webpay OneClick</a></h3></td>
    <td><h3> - </h3></td>
  </tr>
</table>
